movies{
    display: block;
    background-color: aliceblue;
    margin : 2em;
}

movie{
    display: list-item;
    list-style-type: disc;
    padding: 0.23em;
}

title{
    display: none;
}

title:lang(en){
    display:inline;
}

year::before{
    content: "(";
}

year::after{
    content: "):";
}

genre,rating{
    color: white;
    padding: 0.25em;
    border-radius: 0.25em;
}

genre{
    background-color: royalblue;
    display: inline-block;
    width: 5em;
    text-align: center;
}

rating{
    background-color: hotpink;
}


rating::after{
    content: "/10";
}

votes::before{
    content: "from ";
}

votes::after{
    content: " votes";
}